In [1]:
#importing Dataframe
using DataFrames
using Random

In [2]:
#Initializing through constructor
DataFrame(A=1:3, B=rand(3))

3×2 DataFrame
│ Row │ A     │ B        │
│     │ Int64 │ Float64  │
├─────┼───────┼──────────┤
│ 1   │ 1     │ 0.222486 │
│ 2   │ 2     │ 0.346498 │
│ 3   │ 3     │ 0.123819 │

In [3]:
#Initializing with dictionary
sample_dict = Dict("A"=>[1,2],"B"=>[true, false ] )
DataFrame(sample_dict)

2×2 DataFrame
│ Row │ A     │ B     │
│     │ Int64 │ Bool  │
├─────┼───────┼───────┤
│ 1   │ 1     │ true  │
│ 2   │ 2     │ false │

In [5]:
#Reading from a csv file
using CSV
path = "..\\Data\\unit_3\\sample_csv.csv" # Change it to required path here
df = CSV.read(path)
print("DataFrame","\n",df,"\n",typeof(df))
# There are different constructors for CSV.jl as well do check out the documentation
# https://juliadata.github.io/CSV.jl/stable/

DataFrame
2×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 3     │
│ 2   │ 4     │ 5     │ 6     │
DataFrame

In [10]:
# Basic operations on Dataframes
# size return the dimensions of the dataframe
print("Dataframe",df,"\n") # the dataframe itself
print("Size of the Dataframe",size(df),"\n")# It prints a tuple (2,3) which indicated the dataframe has 2 rows and 3 columns
print("No of rows ",nrow(df),"\n") # no of rows
print("No of colums ",ncol(df),"\n") # no of cols

Dataframe2×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 3     │
│ 2   │ 4     │ 5     │ 6     │
Size of the Dataframe(2, 3)
No of rows 2
No of colums 3

In [11]:
describe(df)

3×8 DataFrame. Omitted printing of 1 columns
│ Row │ variable │ mean    │ min   │ median  │ max   │ nunique │ nmissing │
│     │ Symbol   │ Float64 │ Int64 │ Float64 │ Int64 │ Nothing │ Nothing  │
├─────┼──────────┼─────────┼───────┼─────────┼───────┼─────────┼──────────┤
│ 1   │ A        │ 2.5     │ 1     │ 2.5     │ 4     │         │          │
│ 2   │ B        │ 3.5     │ 2     │ 3.5     │ 5     │         │          │
│ 3   │ C        │ 4.5     │ 3     │ 4.5     │ 6     │         │          │

In [12]:
describe(df, cols=1:2) # we can limit it to the columns we want

2×8 DataFrame. Omitted printing of 1 columns
│ Row │ variable │ mean    │ min   │ median  │ max   │ nunique │ nmissing │
│     │ Symbol   │ Float64 │ Int64 │ Float64 │ Int64 │ Nothing │ Nothing  │
├─────┼──────────┼─────────┼───────┼─────────┼───────┼─────────┼──────────┤
│ 1   │ A        │ 2.5     │ 1     │ 2.5     │ 4     │         │          │
│ 2   │ B        │ 3.5     │ 2     │ 3.5     │ 5     │         │          │

In [13]:
names(df) # retrieve coumn names

3-element Array{Symbol,1}:
 :A
 :B
 :C

In [15]:
first(df,2) # use first, head might be deprecated

2×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 3     │
│ 2   │ 4     │ 5     │ 6     │

In [16]:
last(df, 2)

2×3 DataFrame
│ Row │ A     │ B     │ C     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 3     │
│ 2   │ 4     │ 5     │ 6     │

In [ ]:
# Indexing